<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Planner{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css')}}" />
    
    </head>
    
    <body>
      
        <nav class="navbar navbar-light fixed-top bg-light flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Asignment Planner</a>
            <ul class="navbar-nav px-3">
              <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
              </li>
            </ul>
        </nav>
     
          <div class="container-fluid">
              <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="{{ url_for('home') }}">
                        <span data-feather="home"></span>
                        Dashboard <span class="sr-only"></span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('assignment') }}" >
                        <span data-feather="file"></span>
                        Assignment
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('calendar') }}">
                        <span data-feather="shopping-cart"></span>
                        calendar
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
          </div>

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              {% block content %}{% endblock %}
              <hr/>
              <footer>
                  <p>© 2020</p>
              </footer>
              </div>
            </div>
          </main>
    </body>
</html>