/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  padding: .25rem 0
}

/*
 * Base structure
 */

html,
 body {
    height: 100%;
    background-color: #fff;
}

.cover-container {
  max-width: 42em
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.sidenav {
    height: 100%;
    width: 66px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:black;
    border-bottom-color: rgba(255, 255, 255, .25);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffdb58;
    display: block;
}

.sidenav a:hover {
    color: #fff;
}


/*
 * Footer
 */
.mastfoot {
    clear: both;
    border: 1px groove #A3A1A1;
    background: #6F6B65;
    color: #C5C5C5;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.container {
  position: relative;
  width: 80%;
  padding-left: 40px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #FFBC1E;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.mainHead {
    margin: 0;
    min-width: 180px;
    padding: 35px 20px 20px 20px;
    font-weight: 700;
    font-family: 'Charmonman', cursive;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 1.5px 0 #CC9618;
    transition: opacity .3s ease-in-out;
    color: black;
    background-color: #FFBC1E;
    border: 0 none;
}

.dropdown-item:hover {
    padding: .25rem 1.5rem;
}

.left-col {
    height: 100%;
    width: auto;
    min-width: 320px;
    position: relative;
}
.right-col {
    height: 100%;
    width: auto;
    min-width: 320px;
    position: relative;
}
.wrap {
    width: 100%;
    overflow:auto;
}
 .box {
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 45px;
    background-color: #f7f7f7;
}
 .box .box-title{
     display:block;
     height:46px;
     padding:4px 10px;
     border-bottom:1px solid #e3e3e3
 }
