/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  padding: .25rem 0
}

/*
 * Base structure
 */

html,
 body {
    height: 100%;
    background-color: #fff;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: black;
}

.cover-container {
  max-width: 42em
}
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}
.nav-masthead .nav-link {
  position: absolute;
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(0, 0, 0, .6);
  background-color: transparent;
  border-bottom: .25rem solid #ffdb58;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}


.nav-masthead .active {
  color: #000000;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
.btn-info{
    color: #ffdb58;
    background-color: #000;
    position: fixed;
    right: 10px;
    top: 5px;
}

/*
 * Creating grids
 * */
.col-1{
    float: left;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    box-sizing: content-box;

}
.col-2{
    float: left;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    box-sizing: content-box;

}
.col-3{
    float: right;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    box-sizing: content-box;
}

/*
 * Cover
 */

.sidenav {
    height: 100%;
    width: 66px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:black;
    border-bottom-color: rgba(255, 255, 255, .25);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffdb58;
    display: block;
}

.sidenav a:hover {
    color: #fff;
}
.masthead a:hover {
    color: #ffdb58;
}

/*
 * Footer
 */
.mastfoot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  color: rgba(0, 0, 0, .6);
}