arrow {
    display: inline-block;
}

.inline {
    float: left;
    padding: 5px;
}


.flash { /* ref: http://flask.pocoo.org/docs/0.12/tutorial/ */
    background: #FFDA82;
    padding: 0.5em;
    border: 1px solid #CC9618;
    font-size: 18px;
    width: 70%;
    margin: auto;
}
.accImg{
    background-image: url('signUpBackground.jpg');
}

.month {
    padding: 40px 10px;
    width: 100%;
    background: #FFBC1E; /* rgb(255, 212, 72); */
    text-align: center;
    font-size: 150%
}

.noday, .sun, .mon, .tue, .wed, .thu, .fri, .sat {
    padding: 10px 0;
    width: 100px;
    background: #eee;
    margin: 0;
    text-align: center;
}

.extrapadding {
    padding-right: 60px;
}

.extrapadding2 {
    padding-right: 20px;
}


.mastfoot {
    clear: both;
    border: 1px groove #A3A1A1;
    background: #6F6B65;
    color: #C5C5C5;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    /*position: fixed;*/
    bottom: 0px;
    width: 100%;
    height: 60px;
}
.selected {
    font-weight: bold;
    background: #D3D3D3;
}


/* source: https://www.w3schools.com/css/css_form.asp */
.input-field {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}