arrow {
    display: inline-block;
}

.inline {
    float: left;
    padding: 5px;
}


.flash { /* ref: http://flask.pocoo.org/docs/0.12/tutorial/ */
    background: #FFDA82;
    padding: 0.5em;
    border: 1px solid #CC9618;
    font-size: 18px;
    width: 70%;
    margin: auto;
}
.accImg{
    background-image: url('signUpBackground.jpg');
}