{% extends "layout_template.html" %}
{% block body %}

    <!--Add new assignment page-->
    <div class="jumbotron jumbotron-fluid bordered">
            <div class="container">
                <div class="media">
                    <div class="media-body">
                        <h2 class="mt-0">Add Assignments</h2>
                        <p>Add any new assignments here by filling out the below fields. Any inputs that are required
                            are indicated as so by an * (asterisk).
                        </p>
                    </div>
                </div>
            </div>
    </div>
    <div class="container">
    <div class="input-field">

        <a href="./assignments"><button type="button" class="btn btn-primary">View all assignments</button></a>
        <br><br>

        <form action="{{ url_for('add_assignment') }}" method="post">

            <dl>
                <dt>Title:
                <dd><input type="text" size="30" name="title">
                <dt>Course:
                <dd><input type="text" size="30" name="course">
                <dt>Category:
                <dd><input type="text" size="30" name="category">
                <dt>Priority:
                <dd><select name="priority">
                    <option value="Critical">Critical</option>
                    <option value="High">High</option>
                    <option value="Normal" selected>Normal</option>
                    <option value="Low">Low</option>
                </select>
                <dt>Due Date:
                <dd><input type="date" name="duedate">
                <dt>Description:
                <dd><textarea name="description" rows="5" cols="40"></textarea>
                <dd><input type="submit" value="Add">
            </dl>
        </form>
    </div>
    </div>
{% endblock %}