{% extends "session_layout_template.html" %}

<!--Create Account page-->

{% block extracss %}
body {
    background-image: url("{{ url_for('static', filename='signUpBackground.jpg') }}");
    }
{% endblock %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loginpage.css') }}">
    <div class="container signupImg">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h1>Sign-Up</h1>
                    <a href="./"><button type="button" class="btn btn-primary">Home</button></a>
                    <br><br>

                    <div class="card-body">
                        <form action="{{ url_for('create_account') }}" method="POST">

                          <div class="input-group form-group">
                              <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                              </div>
                            <label for="Username1">Username:</label>
                            <input type="text" name="username" class="form-control" id="Username1" aria-describedby="usernameHelp" placeholder="Enter Username" required>
                            <small id="usernameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>

                          <div class="input-group form-group">
                              <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                              </div>
                            <label for="Password1">Password:</label>
                            <input type="text" name="password" class="form-control" id="Password1" placeholder="Enter Password" required>
                          </div>

                          <div class="form-group">
                              <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                              </div>
                            <label for="Password2">Re-enter Password:</label>
                            <input type="text" name="password2" class="form-control" id="Password2" placeholder="Re-Enter Password" required>
                          </div>

                            <div class = "form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                              </div>
                                  <label for="timezone">Select Timezone: </label>
                                <select name="timezone" id="timezone" class="form-control">

                                    <option value="-09:00">(GMT -9:00) Alaska</option>
                                    <option value="-12:00">(GMT -06:00) Central</option>
                                    <option value="-11:00">(GMT -05:00) Eastern</option>
                                    <option value="-10:00">(GMT -10:00)Hawaii</option>
                                    <option value="-09:50">(GMT -07:00)Mountain </option>
                                        <option value="-08:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                                </select>
                            </div>
                              <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}