{% extends "layout_template.html" %}

<!--Edit individual assignment page-->

{% block body %}


    <a href="./add"><button type="button" class="btn btn-primary">Add assignments</button></a>
    <br><br>
    <a href="./assignments"><button type="button" class="btn btn-primary">View all assignments</button></a>
    <br>
    <br>

    {% for assignment in assignments %}
        <form action="{{ url_for('update_entry') }}" method="post" class="update-entry">
            <dl>
                <dd><input type="hidden" value="{{ assignment.id }}" name="id"></dd>
                <dt>Title:
                <dd><input type="text" size="30" name="title" placeholder="{{ assignment.title }}"
                           value="{{ assignment.title }}">
                <dt>Course:
                <dd><input type="text" size="30" name="course" placeholder="{{ assignment.title }}"
                           value="{{ assignment.course }}">
                <dt>Category:
                <dd><input type="text" size="30" name="category" placeholder="{{ assignment.title }}"
                           value="{{ assignment.category }}">
                <dd>
                    {% if assignment.priority == 'Critical' %}
                    <select name="priority">
                        <option value="Critical" class="selected" selected>Critical</option>
                        <option value="High">High</option>
                        <option value="Normal">Normal</option>
                        <option value="Low">Low</option>
                    </select>

                    {% elif assignment.priority == 'High' %}
                    <select name="priority">
                        <option value="Critical" class="selected" selected>Critical</option>
                        <option value="High" class="selected" selected>High</option>
                        <option value="Normal">Normal</option>
                        <option value="Low">Low</option>

                    </select>

                    {% elif assignment.priority == 'Normal' %}
                    <select name="priority">
                        <option value="Critical" class="selected" selected>Critical</option>
                        <option value="High">High</option>
                        <option value="Normal" class="selected" selected>Normal</option>
                        <option value="Low">Low</option>
                    </select>

                    {% else %}
                    <select name="priority">
                        <option value="Critical" class="selected" selected>Critical</option>
                        <option value="High">High</option>
                        <option value="Normal">Normal</option>
                        <option value="Low" class="selected" selected>Low</option>
                    </select>

                    {% endif %}
                <dt>Due Date:
                <dd><input type="date" size="30" name="duedate" placeholder="{{ assignment.title }}"
                           value="{{ assignment.duedate }}">
                <dt>Description:
                <dd><textarea name="description" rows="5" cols="40"
                              placeholder="{{ assignment.description }}">{{ assignment.description }}</textarea>
                <dd><input type="submit" value="Confirm Changes">
            </dl>
        </form>
    {% endfor %}
    <br><br>
{% endblock %}