{% block body %}
<form action="{{ url_for('edit_entry') }}" method="post" class="edit-entry">
<input type="hidden" name="id" value="{{ entry.id }}">
    <dl>
      <dt>Title:
        <dd>{{ assignment.title }}</dd>
      <dt>Course:
        <dd>{{ asssignment.course }}</dd>
      <dt>Category:
        <dd>{{ assignment.category }}</dd>
        <dt>Duedate:
        <dd>{{ assignment.duedate }}</dd>
        <dt>Description:
        <dd>{{ assignment.description }}</dd>
      <dd><input type="submit" value="edit">
    </dl>
  </form>
{% endblock %}