{% extends "layout_template.html" %}
{% block body %}

<!--Home page once logged in-->

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Assignment Planner</h3>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">This is the main page/ user dashboard.</h1>
        <p class="lead">This is the main page where users can view their assignment and order tasks scheduled</p>
        <p class="lead">
          <!-- <a href="#" class="btn btn-lg btn-secondary">Learn more</a> -->
        </p>
      </main>
{% endblock %}