{% extends "layout_template.html" %}
{% block body %}

<!--Home page once logged in-->

    <div class="container-fluid">
      <h2 class="masthead-brand">Welcome, <span class="username">{{ username }}</span>! </h2>
      <br>
      <div class="row">
        <div class="column left">
          <h3>Number of Assignments Per Priority:</h3>
            <br>
            <p class="dashboard">Critical: {{ critical }}</p>
            <br>
            <p class="dashboard">High: {{ high }}</p>
            <br>
            <p class="dashboard">Moderate: {{ normal }}</p>
            <br>
            <p class="dashboard">Low: {{ low }}</p>
        </div>
        <div class="column right">
          <br><br><br>
          <h3>Today is:</h3>
          <br>
          <p class="username">{{ today }}</p>
        </div>
      </div>
      <br>
      <main role="main" class="inner cover">
        <h1 class="cover-heading">This is the main page/ user dashboard.</h1>
        <p class="lead">This is the main page where users can view their assignment and order tasks scheduled</p>
        <p class="lead">
          <!-- <a href="#" class="btn btn-lg btn-secondary">Learn more</a> -->
        </p>
      </main>
      <br>
    </div>
{% endblock %}