{% extends "layout_template.html" %}
{% block body %}

<!--Home page once logged in-->

            <!--Body Insert-->


<!--Home page once logged in

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Logged in as: jegwurube </h3>
        </div>
      </header>
      <div class="container">
        <img src="/static/home.jpeg" alt="Avatar" class="image">
        <div class="overlay">
          <div class="text">Welcome, jegwurube</div>
        </div>
      </div>

-->
    <div class="container-fluid">
    <div class="wrap">
    <div class="left-col ">
  <div class="box ">
    <h2 class="box-title">Classes</h2>
    <a href="/classes/add" data-controls-load-lightbox="true" class="box-title-button"><span class="icon add" title="Add Class"></span></a>

    <div class="empty-box-content">
      <div class="empty-content">
        <p>This is where all your classes will be displayed.</p>
        <p>Enter your first class or search for a Teachers.io class using the + button up above.</p>
      </div>
    </div>

    <ul class="box-content classes-list">



     </ul>
  </div>
    </div>


</div>
<div class="right-col">
  <div class="box">
    <h2 class="box-title">Homework</h2>

      <div class="empty-box-content">
      <div class="empty-content">

        <p>This is where your assignments, tests and projects will be displayed. You'll be able to view them by class, type and priority.</p>
       <!-- <p>Add your first homework using the + button up above.</p> -->
        <p>If entering a <strong>syllabus</strong>, first <a href="/add">add the class</a> and then add multiple homework from the class.</p>

      </div>
    </div>


<ul class="box-content homework-list ">








</ul>

  </div>
</div>
    </div>


    <!--
      <main role="main" class="inner cover">
        <h1 class="cover-heading">This is the main page/ user dashboard.</h1>
        <p class="lead">This is the main page where users can view their assignment and order tasks scheduled</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>
      <br><br>
-->

{% endblock %}