{% extends "layout_template.html" %}
{% block body %}

<!--Add new assignment page-->

    <div class="container">

    <a href="./assignments"><button type="button" class="btn btn-primary">View all assignments</button></a>
    <br><br>

    <form action="{{ url_for('add_assignment') }}" method="post">

    <dl>
        <dt>Title:
      <dd><input type="text" size="30" name="title">
        <dt>Course:
      <dd><input type="text" size="30" name="course">
             <dt>Category:
      <dd><input type="text" size="30" name="category">
        <dt>Due Date:
      <dd><input type="datetime-local" name="duedate">
        <dt>Description:
      <dd><textarea name="description" rows="5" cols="40"></textarea>
      <dd><input type="submit" value="Add">
    </dl>
  </form>
</div>
{% endblock %}