{% extends "layout_template.html" %}
{% block body %}

<!--Show all assignments page-->

    <ul class="duedates blacktext">
        <li><a href="?">[all]</a></li>
        {% for duedate in duedates %}
            {% if '' not in duedate %}
                <li><a href="?duedate={{ duedate.duedate }}">{{ duedate.duedate }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>


    <a href="./add"><button type="button" class="btn btn-primary">Add assignments</button></a>
    <br>


    <br>

    {% if assignments %}
        <table class="table">
             {% if arrange == "title" %}
                <a href="?arrange=title">
             {% endif %}
             {% if arrange == "course" %}
                <a href="?arrange=course">
             {% endif %}
             {% if arrange == "category" %}
                <a href="?arrange=category">
             {% endif %}
             {% if arrange == "duedate" %}
                <a href="?arrange=duedate">
             {% endif %}
             {% if arrange == "description" %}
                <a href="?arrange=description">
                        {% endif %}

             {% if sort == "title" %}
                 <a href="?sort=title">
             {% endif %}
             {% if sort == "course" %}
                 <a href="?sort=course">
             {% endif %}
             {% if sort == "category" %}
                 <a href="?sort=category">
             {% endif %}
             {% if sort == "duedate" %}
                 <a href="?sort=duedate">
             {% endif %}
             {% if sort == "description" %}
                 <a href="?sort=description">
             {% endif %}

            <tr>
                <th>Edit/Delete </th>
                <th>Title <a href="/?sort=title"><span class="glyphicon glyphicon-chevron-down arrow"></span></a><a href="/?arrange=title"><span class="glyphicon glyphicon-chevron-up arrow"></span></a></th>
                <th>Course <a href="/?sort=course"><span class="glyphicon glyphicon-chevron-down arrow"></span></a><a href="/?arrange=course"><span class="glyphicon glyphicon-chevron-up arrow"></span></a></th>
                <th>Category <a href="/?sort=category"><span class="glyphicon glyphicon-chevron-down arrow"></span></a><a href="/?arrange=category"><span class="glyphicon glyphicon-chevron-up arrow"></span></a></th>
                <th>Due Date <a href="/?sort=duedate"><span class="glyphicon glyphicon-chevron-down arrow"></span></a><a href="/?arrange=duedate"><span class="glyphicon glyphicon-chevron-up arrow"></span></a></th>
                <th>Description <a href="/?sort=description"><span class="glyphicon glyphicon-chevron-down arrow"></span></a><a href="/?arrange=description"><span class="glyphicon glyphicon-chevron-up arrow"></span></a></th>
            </tr>
            {% for assignment in assignments %}

                <tr>
                    <td>
                        <form action="{{ url_for('edit_entry') }}" method="get" class="inline">
                            <button type="submit" class="btn btn-primary glyphicon glyphicon-pencil"></button>
                            <input type="hidden" value="{{ assignment.id }}" name="editid">
                        </form>
                        <form action="{{ url_for('del_assignment') }}" method="post" class="inline">
                            <button type="submit" class="btn btn-primary glyphicon glyphicon-remove"></button>
                            <input type="hidden" value="{{ assignment.id }}" name="id">
                        </form>
                    </td>
                    <td>{{ assignment.title }}</td>
                    <td>{{ assignment.course }}</td>
                    <td>{{ assignment.category }}</td>
                    <td>{{ assignment.duedate }}</td>
                    <td>{{ assignment.description|safe }}</td>

                </tr>
            {% else %}
                <em>You don't have any assignments currently.</em>
            {% endfor %}

        </table>
    {% else %}
        <em>No assignment entries here so far</em>
    {% endif %}

    </div>
{% endblock %}