{% extends "layout_template.html" %}
{% block body %}

    {% if not session.get(username) %}
        <a href="./login"><button type="button" class="btn btn-primary">Login</button></a>
        <br><br>
    {% else %}
        <a href="{{ url_for('logout') }}"><button type="button" class="btn btn-primary">Logout</button></a>
        <br><br>
    {% endif %}

    <a href="./signup"><button type="button" class="btn btn-primary">Create Account</button></a>
    <br><br>


    <ul class="duedates">
        <li><a href="?">[all]</a></li>
        {% for duedate in duedates %}
            {% if '' not in duedate %}
                <li><a href="?duedate={{ duedate.duedate }}">{{ duedate.duedate}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>


    <a href="./add"><button type="button" class="btn btn-primary">Add assignments</button></a>
    <br>


    <br>

    {% if assignments %}
        <table class="table">
             {% if arrange == "title" and order == "ASC" %}
                <a href="?arrange=title&order=DESC">
                {% else %}
                    <a href="?arrange=title&order=ASC">
                        {% endif %}
             {% if arrange == "course" and order == "ASC" %}
                <a href="?arrange=course&order=DESC">
                {% else %}
                    <a href="?arrange=course&order=ASC">
                        {% endif %}
             {% if arrange == "category" and order == "ASC" %}
                <a href="?arrange=category&order=DESC">
                {% else %}
                    <a href="?arrange=category&order=ASC">
                        {% endif %}
             {% if arrange == "duedate" and order == "ASC" %}
                <a href="?arrange=duedate&order=DESC">
                {% else %}
                    <a href="?arrange=duedate&order=ASC">
                        {% endif %}
             {% if arrange == "description" and order == "ASC" %}
                <a href="?arrange=description&order=DESC">
                {% else %}
                    <a href="?arrange=description&order=ASC">
                        {% endif %}
            <tr>
                <th>Edit/Delete </th>
                <th>Title <a href="/?arrange=title"><span class="glyphicon glyphicon-chevron-down arrow"></span><span class="glyphicon glyphicon-chevron-up arrow"></span></a></th>
                <th>Course <a href="/?arrange=course"><span class="glyphicon glyphicon-chevron-down arrow"></span><span class="glyphicon glyphicon-chevron-up arrow"></span></a></th>
                <th>Category <a href="/?arrange=category"><span class="glyphicon glyphicon-chevron-down arrow"></span><span class="glyphicon glyphicon-chevron-up arrow"></span></a></th>
                <th>Due Date <a href="/?arrange=duedate"><span class="glyphicon glyphicon-chevron-down arrow"></span><span class="glyphicon glyphicon-chevron-up arrow"></span></a></th>
                <th>Description <a href="/?arrange=description"><span class="glyphicon glyphicon-chevron-down arrow"></span><span class="glyphicon glyphicon-chevron-up arrow"></span></a></th>
            </tr>
            {% for assignment in assignments %}

                <tr>
                    <td>
                        <form action="{{ url_for('edit_entry') }}" method="get" class="inline">
                            <button type="submit" class="btn btn-primary glyphicon glyphicon-pencil"></button>
                            <input type="hidden" value="{{ assignment.id }}" name="editid">
                        </form>
                        <form action="{{ url_for('del_assignment') }}" method="post" class="inline">
                            <button type="submit" class="btn btn-primary glyphicon glyphicon-remove"></button>
                            <input type="hidden" value="{{ assignment.id }}" name="id">
                        </form>
                    </td>
                    <td>{{ assignment.title }}</td>
                    <td>{{ assignment.course }}</td>
                    <td>{{ assignment.category }}</td>
                    <td>{{ assignment.duedate }}</td>
                    <td>{{ assignment.description|safe }}</td>

                </tr>
            {% else %}
                <em>You don't have any assignments currently.</em>
            {% endfor %}

        </table>
    {% else %}
        <em>No assignment entries here so far</em>
    {% endif %}

    </div>
{% endblock %}